{% extends 'base.html' %}

{% block title %} forgot password page {%endblock%}

{% block body %}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="blog image">
                <form action="{% url 'forgot_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="card text-center" style="width: 500px;">
                        <div class="card-header h5 text-white bg-primary">Password Reset</div>
                        <div class="card-body px-5">
                            <div class="form-outline mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" id="password" class="form-control form-control-lg" />
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label">password_confirmation</label>
                                <input type="password" id="password confirmation"
                                    class="form-control form-control-lg" />
                            </div>
                            <a href="#" class="btn btn-primary w-100">Reset password</a><br><br>

                            <div class="d-flex justify-content-around align-items-center mb-4">
                                <a href="{% url 'login_user' %}" class="btn btn-primary btn-lg btn-block ">Login</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        {% endblock %}